/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-regular);
}

@supports (font-variation-settings: normal) {
  .card-title {
    font-variation-settings: "wght" var(--font-bold);
  }

  .page {
    font-weight: var(--font-regular);
  }
}

.section-width {
  width: var(--section-width);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-top: 100px;
  border: 2px solid var(--main-color);
  padding-top: 136px;
  padding-bottom: 25px;
  font-family: var(--accent-text);
  line-height: normal;
  text-transform: uppercase;
  background-color: var(--bg-color);
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.main-logo {
  font-size: var(--main-logo-size);
}

.header-title {
  font-size: var(--header-title-size);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  display: grid;
  grid-template-columns: 16px auto;
  gap: 4px;
  font-size: 14px;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  color: var(--active-button-color);
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -3px;
  display: block;
  width: calc(100% - 20px);
  height: 2px;
  background-color: var(--active-button-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled::before {
  content: "▶";
  animation: active-theme-button 0.5s infinite ease-in-out alternate;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.button:focus,
.card__icon-button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px var(--main-color);
  transition: box-shadow 0.3s ease;
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::after {
  transform: scaleX(1);
}

.dialog-button,
.theme-menu__button,
.card__cover,
.card__like-button,
.diskette__button {
  position: relative;
}

.button__text,
.diskette {
  z-index: 1;
  color: var(--button-hover-color);
  mix-blend-mode: difference;
}

.card__icon-button {
  border: 2px solid transparent;
  transition: 0.3s ease;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
}

.header-button__text {
  grid-area: 1/2/2/3;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 100px;
  margin-bottom: 103px;
}

.card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.card {
  background-color: var(--bg-color);
}

.card-title {
  border: 2px solid var(--main-color);
  border-bottom: none;
  padding: 5px 0 5px 10px;
  font-weight: var(--font-bold);
  font-size: inherit;
}

.card__image {
  display: block;
  width: var(--section-width);
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
}

.card__cover {
  border: 2px solid var(--main-color);
}

.watermark {
  mix-blend-mode: hard-light;
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  color: var(--main-color);
  font-family: var(--accent-text), sans-serif;
  font-size: 14px;
  text-shadow: 1px var(--bg-color);
}

@supports ((text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color))) {
  .watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 2px solid var(--main-color);
  border-top: none;
  padding: 25px;
}

.like-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
}

.heart {
  width: 27px;
  height: 24px;
}

.like-icon {
  display: block;
  height: 34px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.button__text {
  font-family: var(--accent-text);
  font-size: 14px;
  line-height: 90%;
}

.diskette__button {
  gap: 8px;
  padding: 16px 20px;
}

.diskette {
  width: 21px;
  height: 21px;
}

.dialog {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 2px solid var(--main-color);
  padding: 30px;
  color: var(--main-color);
  font-family: var(--accent-text);
  text-transform: uppercase;
  background-color: var(--bg-color);
}

.dialog-title {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}

.dialog-diskette {
  inline-size: 39px;
  block-size: 39px;
}

.dialog-text {
  inline-size: 234px;
}

.dialog-button {
  width: 100%;
  padding: 10px 0;
}

#dialog-id {
  border: none;
  padding: 0;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.5);
  backdrop-filter: blur(7px);
}

.blur {
  filter: blur(1px);
}

.brightness {
  filter: brightness(30%);
}

.contrast {
  filter: contrast(150%);
}

.grayscale {
  filter: grayscale(80%);
}

.hue-rotate {
  filter: hue-rotate(0.5turn);
}

.invert {
  filter: invert(100%) sepia(0.5);
}

.saturate {
  filter: saturate(390%);
}

.sepia {
  filter: sepia(0.7);
}

@media (width <= 375px) {
  :root {
    --main-logo-size: clamp(2.5763rem, 0.586rem + 10.6344vw, 3.0644rem);
    --section-width: 100%;
  }

  .header {
    padding-block-start: 120px;
  }

  .diskette {
    width: 28px;
    height: 28px;
  }

  .button {
    flex-direction: column;
  }

  .save__button {
    width: 306px;
    padding: 15px 0;
  }
}
